body{
    margin:0;
    font-family:Kievit Pro, regular, sans-serif;
    background:#ECECEC;
}

.container{
   
    text-align:center;
    margin-top:50px;

}
.containerButtons{
    display:flex;
    gap:40px;
    justify-content:center;
    align-items:center;
    padding:10px;
    width:600px;
    height:100px;
    margin:60px auto;
}

.SwitchClass{
   text-align:left;
   font-weight:bold;
}

.SwitchClass td{
    padding:20px;
}

.panel{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:400px;
    height:500px;
    margin:0 auto;
    border-radius:12px;
    background:#ECECEC;
    color:#333  ;
}

.logo{
    width:700px;
    margin-bottom:30px;
}

.AAA_logo{
    top:10px;
    right:0px;
    width:300px;
    padding:100px;
    height:auto;
}

button{
    display:block;
    width:400px;
    height:90px;
    margin:30px auto;
    font-size:28px;
    border:none;
    border-radius:12px;
    cursor:pointer;
    background:#EA3A5E;
    color:#ECECEC  ;
}

.hidden button{
    display:block;
    width:200px;
    height:70px;
    margin-left: 0px;
    font-size:28px;
    border:none;
    border-radius:12px;
    cursor:pointer;
    background:#ECECEC;
    color:white  ;
}

#status{
    margin-top:40px;
    font-size:24px;
}

#language {
    width: 120px;
    height: 60px;

    font-size: 20px;
    font-weight: bold;

    padding: 10px 15px;

    border: none;
    border-radius: 12px;

    background-color: #EA3A5E;
    color: #ECECEC ;

    cursor: pointer;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    outline: none;

    appearance: none; /* enlève style natif */
    -webkit-appearance: none;
    -moz-appearance: none;

    text-align: center;
}