SIO:CFG_1.0:7:0::
#
FIREWALL_MANAGEMENT:

      -Name "Bonjour" -EnableOnPrivateNet 

      -Name "EtherNetIP" -EnableOnPrivateNet 

      -Name "PROFINET" -EnableOnPublicNet  -EnableOnIONet 

      -Name "RapidSockets"

      -Name "RobotWebServices" -EnableOnPrivateNet 

      -Name "Netscan" -EnableOnPrivateNet 

      -Name "ConnectedServices" -EnableOnPrivateNet 

      -Name "RobAPI" -EnableOnPrivateNet 

      -Name "OpcUaServer" -EnableOnPrivateNet 
#
SYSLOG:

      -Name "SYSLOG"
#
IP_SETTING:

      -Name "Private Network"

      -Name "Public Network" -DHCP 

      -Name "IO Network"
#
DNSC:

     
      -Name "DNSC"
#
CSE_CONFIG:

      -Name "RSCON" -CSEID "15000-101637" -DCNotify FALSE\
      -ProxyPwd "3e+c5BbBLOypFi2rueL/jR9/x32N92BBXKyYOP5/8VmVfsmS"\
      -HTTPPassword "fsNRG/CATwPohGm8UQZPEcvXwAh8vODmegLAEC7qA5XMkWUF"\
      -MQTTPassword "BRsrfTaThBwz5E1wYjaFR8MtdvDmJUhD6WpAyWT6mstTjJOh"
#
CSGW_CELLULAR:

      -Name "CSGW" -Pin "oCUvivpFxydsWfYnLHN1n7J6GRM2dZutNjzuhqlvMejYKunv"\
      -Password "V8n+ejAvYkLDnNH3dFntvi8jHlUjGP+Ezg8JJ61t57TQBvZL"
#
CSGW_WIRELESS:

      -Name "CSGW" -Key "lsR3+smwU+fNBOPqQy0culL76ZywbXJRPjnzN73TnE1IzcF8"
#
CSGW_WIRED:

      -Name "CSGW"
#
OPC_UA_SERVER:

     
      -Name "OPC UA Server"

#CTRL_SIGNATURE:AYuapbf0sQU8KFusVDcCNqQF6mCIlWBmYZVBt0zIP5nwck3xnVS5/cOW2giU+6z39dQsXApKCII6atsVLnnVeA==