SYS:CFG_1.0:7:0::
#
LOCALIZATION:

      -Name "Language" -Value "en"
#
CAB_REGAIN_DIST:

      -Tcp_dist 0.0500000007 -Tcp_rot 0.200000003 -Ext_dist 0.0500000007\
      -Ext_rot 0.200000003

      -Name "AUTO" -Tcp_dist 0.5 -Ext_dist 0.5

      -Name "StartMove" -Tcp_dist 0.00999999978 -Tcp_rot 0.349999994\
      -Ext_dist 0.00999999978 -Ext_rot 0.349999994
#
MANFS_LIMIT:

      -name "LIMITFLAG" -text_id 30,82 -mode "0"
#
HOTEDIT_MODPOS:

      -name "modpos" -type  -tuning_in_auto 
#
MASTER_BOOL:

      -Name "AllowMoveRobAuto"

      -Name "HoldToRun"

      -Name "HeartBeat"
#
AUTO_COND_RESET:

      -name "AllDebugSettings"
#
CAB_TASK_MODULES:

      -File "OPEN.ZIMMERSCHMALZ.MATCHGRIPPERS_HOME:/ZIMMER_RAPID/IOGripper_BASE.sysx"\
      -ModName "IOGripper_BASE" -Task "T_ROB1"

      -File "OPEN.ZIMMERSCHMALZ.MATCHGRIPPERS_HOME:/ZIMMER_RAPID/IOGripper_ToolData.sysx"\
      -ModName "IOGripper_ToolData" -Task "T_ROB1"

      -File "OPEN.ZIMMERSCHMALZ.MATCHGRIPPERS_HOME/ZIMMER_RAPID/Gripper_Communication_Config.sysx"\
      -ModName "Gripper_Communication_Config" -Task "T_ROB1"

      -File "OPEN.ZIMMERSCHMALZ.MATCHGRIPPERS_HOME/ZIMMER_RAPID/Gripper_Communication_UserData.sysx"\
      -ModName "Gripper_Communication_UserData" -Task "T_ROB1"
#
RUN_MODE_SETTINGS:

      -name "AutoToManual"

      -name "ManualToAuto"
#
SYS_MISC:

      -Name "RapidInstrucionsPerMs" -Value 15

      -Name "PrioritizeRapidInstructionsPerMs"

      -Name "MathLibMemSize" -Value 500000

      -Name "RapidSocketMemSize" -Value 5000

      -Name "NoOfRetry" -Value 4

      -Name "SimulateMenu" -Value 1

      -Name "ModalPayLoadMode" -Value 1

      -Name "PayloadsInWristCoords" -Value 1

      -Name "StationaryPayLoadMode"

      -Name "CollisionErrorHandling"

      -Name "BrakeMaintenance" -Value 1

      -Name "RapidLogging" -Value 1

      -Name "StepOutNoStepin"

      -Name "QueueBackup"

      -Name "TruncateLongRapidStrings"

      -Name "ReportNonActiveSingles"
#
CAB_TASKS:

      -Name "T_ROB1" -Type "NORMAL" -MotionTask 
#
SUPPRESS_ELOG:

      -Name "SyncId"
#
CYCLIC_BOOL:

      -Name "RemoveAtPpToMain"

      -Name "ErrorMode"

      -Name "RecoveryMode" -Value 1
#
MoveInAuto:

      -Name "Timeout"
#
FAN_CONTROL:

      -Name "Turn Off Fan" -Value 1

#CTRL_SIGNATURE:+HqZ4i3E9GZhDPYepXeWVlXhEVfDdfLycCzbRSzYeulCizzEM5Sqeg/quuBRnATMT5sI+g7yrQngWlnn+X6OVg==